.season-container{
    display: flex;
    justify-content: space-between;
    margin: 0 16vw;
}

.season{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5%;
}

.season img{
    width: 100%;
    transition: .5s;
}

.season:hover{
    cursor: pointer;
}

.season:hover img{
    filter: brightness(.25);}

.season div{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.season-title{
    font-size: 4vw;
    margin-top: 2vw;
}

.season .season-text{
    opacity: 0;
}

.season:hover .season-text{
    opacity: 1;
}

.season-description{
    width: 100%;
    font-size: 3.75vw;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    font-family: gsM;
}

.season:hover .season-description{
    text-align: center;
    animation: wide .75s;
    white-space: nowrap;
    overflow: hidden;
    opacity: 1;
}

.season-description span{
    color: white;
    background-color: rgba(255, 50, 70, 0.4);
}

@keyframes temperature{
    0%{
        background-color: transparent;
    }

    75%{
        background-color: transparent;
    }
}

.season:hover span{
    animation: temperature 1s;
    background-color: rgba(255, 50, 70, 0.4);
}